@model StudentSystem.Web.Models.TeacherAssignerViewModel

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_sidebar")
@Html.Partial("_helpbutton")
<body class="theme-invert">
    <div class="jumbotron col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="color: black">
        <div class="page-header">
            <h1>Учители</h1>
        </div>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.userName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.userName)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.StudentClasses)</dt>
                @if (Model.HasStudentClasses)
                {
                    foreach (var stclass in Model.StudentClasses)
                    {
                        if (stclass.Selected)
                        {
                            <dd>  @Html.Raw(stclass.Text + " ") </dd>
                        }
                    }
                }
                else
                {
                    <dd> @Html.Label("Няма избран клас!")</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.Subjects)</dt>
                @if (Model.HasSubjects)
                {
                    foreach (var subject in Model.Subjects)
                    {
                        if (subject.Selected)
                        {
                            <dd>  @Html.Raw(subject.Text + " ") </dd>
                        }
                    }
                }
                else
                {
                    <dd> @Html.Label("Няма избран предмет!")</dd>
                }
            </dl>
        </div>
        <p>
            @Html.ActionLink("Промени", "Edit", new { id = Model.UserID }) |
            @Html.ActionLink("Обратно към листа", "Index")
        </p>
    </div>
</body>