@model IEnumerable<StudentSystem.Web.Models.StudentClassViewModel>

@{
    ViewBag.Title = "ClassList";
}

<h2>ClassList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentClassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentClassID })
        </td>
    </tr>
}

</table>
