<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
   



</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#menu-toggle" class="btn btn-default btn-sm pull-right" id="menu-toggle"><i class="glyphicon glyphicon-th-list"></i></a></li>

                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#myModal" class="btn btn-primary pull-right" data-toggle="modal">Избери клас</a></li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            FOR FUCKS SAKE
                            @*@Html.ActionLink("Hello " , "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }

            @*<ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Въведи клас</a></li>
                    <li role="presentation" class="active"><a href="#">Избери клас</a></li>
                </ul>*@
        </div><!--/.nav-collapse -->
    </div>

</nav>
<div class="container body-content">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
