@Styles.Render("~/Content/css")
@Styles.Render("~/sidebar/css")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/sidebar/jquery")

<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a> Меню </a>
                </li>
                <li>
                    @Html.ActionLink("Начало", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Бележник", "Notebook", "Home")
                </li>
                <li>
                    @Html.ActionLink("Въведи клас", "Insert", "Home")
                </li>
                <li>
                    @Html.ActionLink("Календар", "Calendar", "Home")
                </li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken();
                    if (Request.IsAuthenticated)
                    {
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Partial_Components/sidebar/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Partial_Components/sidebar/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    }

</body>