@model StudentSystem.Web.Models.StudentClassViewModel

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_sidebar")
@Html.Partial("_helpbutton")
<body class="theme-invert">
    <div class="jumbotron col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="color: black">
        <div class="page-header">
            <h1>Класове</h1>
        </div>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ClassName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClassName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Промени", "Edit", new { id = Model.StudentClassID }) |
            @Html.ActionLink("Обратно към листа", "Index")
        </p>
    </div>
</body>